<!DOCTYPE html>
<html lang="en" >
<head>
  <link rel="stylesheet" href="./style.css" data-inprogress="">
</head>
<body>
<!-- partial:index.partial.html -->
{% comment %} {{foo}} {% endcomment %}
<div class="cardWrap">
  <div class="card cardLeft">
    <h1>Startup <span>{{ cinema}}</span></h1>
    <div class="title">
      <h2>{{movie}}</h2>
      <span>movie</span>
    </div>
    <div class="name">
      <h2>{{name}}</h2>
      <span>name</span>
    </div>
    <div class="seat">
      <h2></h2>
      <span>seat</span>
    </div>
    <div class="time">
      <h2>{{time}}</h2>
      <span>time</span>
    </div>
    
  </div>
  <div class="card cardRight">
    <div class="eye"></div>
    <div class="number">
      <h3>{{seat}}</h3>
      <span>seat</span>
    </div>
    <div class="barcode"></div>
  </div>

</div>
<!-- partial -->
  
</body>
</html>
